body.main {
    header {
        display: flex;
        padding: 5px;
        align-items: center;

        .site-nav ul {
            list-style: none;
            display: flex;
            margin: 0;
            padding: 0;

            li a {
                text-decoration: none;
                padding: 20px;
            }
        }

        .actions {
            display: flex;
            align-items: center;
            margin-left: auto;

            .search-box {
                width: 400px;
            }
        }
    }
}