body.login {
    background: rgb(253, 239, 217);

    .login-box {
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 500px;
        
        border-radius: 3px;
        padding: 30px;
    
        background: white;
    
        text-align: center;
    }
}